.notifications {
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-top: 62px;
  

  .notice {
    background-color: lightBlue;
    margin-bottom: 0rem;
  }

  .alert {
    background-color: alert_orange;
    margin-bottom: 0rem;
  }
}