//#######################################
//#           メインページ実装             #
//#######################################

//======== 共通レイアウト ========//
.alert {
  border-radius: 0rem;
}

.top-margin  {
  margin-top: 62px;
}

.title-box {
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
}

.content-title {
  text-align: center;
}

.flex {
  display: flex;
}


//========= side contents =========//
.side-contents {
  position: fixed;
  top: 62px;
  width: 280px;
}

.side-contents .side-header {
  background-color: #253141;
  height: 260px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.side-header__box {
  width: 100%;
}

.side-header__box__user-icon {
  text-align: center;
  margin: 10px 0;
}

.side-header__box__user-icon img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.side-header__box__user-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  word-break:break-all;
}

.side-header__box__menu__edit-user {
  padding: 0;
  text-align: center;
  font-size: 14px;
}

.side-menu {
  height: calc(100vh - 200px - 62px);
  background-color: #2f3e51;
  padding: 20px;
  overflow: auto;
  text-align: center;
}

.side-menu__link {
  margin: 30px 0;
  width: 240px;
}



//========= main contents ==========//
.main-contents {
  width: calc(100vw - 300px);
  margin-top: 100px;
  margin-left: 295px;
}

//======= もくもく会新規投稿画面 ========//
textarea.description {
  padding: 0 5px;
  line-height: 11px;
  margin: 3px 0;
}


//========= 投稿もくもく会カード ========//
.card.postcard {
  width: 16rem;
}

.card img.postcard-img {
  height: 140px;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  object-fit: cover;
}

.card-box.card-deck {
  padding-left: 40px;
}

.card-box.card-deck .card {
  flex: 1 0 0%;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.card-content {
  position: relative;
  height: 150px;
}

.card-title{
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-text {
  position: absolute;
  top: 100px;
  left: 100px;
}

.post-detail-image {
  width: 48px;
  height: 48px;
}

.row.card-margin {
  margin-right: 0px;
  margin-left: 0px;
}

form.post-form {
  margin: 0 180px;
}



//========== モーダルウィンドウ ==========
body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

.modal-content {
  position:fixed;
  display:none;
  z-index:2;
  width: 850px;
  margin:0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
}
 
.modal-content p {
  margin:0;
  padding:0;
}
 
.modal-overlay {
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}
 
.modal-open {
  color:#00f;
  text-decoration:underline;
}
 
.modal-open:hover {
  cursor:pointer;
  color:#f00;
}
 
.modal-close {
  color:#00f;
  text-decoration:underline;
}
 
.modal-close:hover {
  cursor:pointer;
  color:#f00;
}

.modal-post {
  margin-bottom: 10px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #017BFF;
  border-radius: 5px 5px;
  font-size: 14px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-post__title {
  background-color: rgb(211, 211, 211);
  border-radius: 4px 0 0 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #017BFF;
  width: 160px;
}

.modal-post__content {
  text-align: left;
  width: 100%;
  padding: 0 5px;
  align-items: center;
}

.modal-post__content__organizer__name {
  width: 360px;
}

.modal-post__content--scloll {
  text-align: left;
  width: 100%;
  height: 120px;
  line-height: 13px;
  margin: 3px 0;
  padding: 0 5px;
  overflow: scroll; 
}

.nonflex{
  display: inline;
  border: none;
}

.modal-post__comment__title {
  background-color: rgb(211, 211, 211);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-color: #017BFF;
  width: 130px;
}

.modal-post__content__comment--scloll {
  width: 100%;
  height: 220px;
  text-align: left;
  overflow: scroll; 
}

ul#target-show-comment {
  text-align: left;
  font-size: 12px;
  list-style: none;
  padding: 0px;
}

li {
  background-color: #d6eaff;
}

.comment-box {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.comment-user {
  width: 140px;
  text-align: left;
  line-height: 11px;
  margin: 3px 0;
  padding: 0 10px;
  color: #d6641f;
}

.comment-sentence {
  width: 510px;
  padding: 0 5px;
  line-height: 11px;
  margin: 3px 0;
}

.comment-submit {
  margin-top: 5px;
}

.input-comment {
  width: 600px;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 60px;
  line-height: 13px;
}