//#######################################
//#           メインページ実装             #
//#######################################

//======== 共通レイアウト ========//
.alert {
  border-radius: 0rem;
}

.top-margin  {
  margin-top: 62px;
}

.title-box {
  background-color: white;
  width: 100%;
  margin-bottom: 40px;
}

.content-title {
  text-align: center;
}



//========= side contents =========//
.side-contents {
  position: fixed;
  top: 62px;
  width: 280px;
}

.side-contents .side-header {
  background-color: #253141;
  // height: 200px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.side-header__box {
  width: 100%;
}

.side-header__box__user-icon {
  text-align: center;
  margin: 10px 0;
}

.side-header__box__user-icon img {
  width: 100px;
}

.side-header__box__user-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}

.side-header__box__menu__edit-user {
  padding: 0;
  text-align: center;
  font-size: 14px;
}

.side-contents .side-menu {
  height: calc(100vh - 200px - 62px);
  background-color: #2f3e51;
  padding: 20px;
  overflow: auto;
}



//========= main contents ==========//
.main-contents {
  width: calc(100vw - 300px);
  margin-top: 100px;
  margin-left: 295px;
  // height: calc(100vh - 62px);
  // float: right;
  // position: relative;
  // background-color: #fafafa;
}

//========= 投稿もくもく会カード ========//
.card.postcard {
  width: 16rem;
}

.card img.postcard-img {
  height: 160px;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-box.card-deck {
  padding-left: 40px;
}

.card-box.card-deck .card {
  flex: 1 0 0%;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.row.card-margin {
  margin-right: 0px;
  margin-left: 0px;
}

form.post-form {
  margin: 0 180px;
}



//========== モーダルウィンドウ ==========
.modal-content {
  position:fixed;
  display:none;
  z-index:2;
  width: 720px;
  margin:0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
}
 
.modal-content p {
  margin:0;
  padding:0;
}
 
.modal-overlay {
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}
 
.modal-open {
  color:#00f;
  text-decoration:underline;
}
 
.modal-open:hover {
  cursor:pointer;
  color:#f00;
}
 
.modal-close {
  color:#00f;
  text-decoration:underline;
}
 
.modal-close:hover {
  cursor:pointer;
  color:#f00;
}