// =============== 動画背景オーバーレイ ===============
.wrap{
  height: calc(100vh);
  background: linear-gradient(-45deg, rgba(56, 56, 56, 0.4), rgba(126, 126, 126, 0.6));
}

// =============== 背景用の動画ファイル ===============
#bg-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('poster.jpg') no-repeat;
  background-size: cover;
}
// ============ 背景の上に表示させたいコンテンツ ============
.header-title{
  position: relative;
  z-index: 2;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin: auto;
}

//========= toppage ===========//
.jumbotron.register-box {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 12rem;
}

.register-box-description {
  font-size: 24px;
  font-weight: bold;
}

.row.account {
  margin: auto;
}

.account-view {
  font-weight: bold;
  text-align: center;
}

.account-view table{
  border: 1px black solid;
  background-color: white;
}
.account-view td{
  border: 1px black solid;
  padding: 0 10px;
}
